<div class="bg-success bg p-2" style="min-width: 480px;">
  <div class="d-flex justify-content-between align-items-center">
    <div class="ml-5 text-line">
      {{ lineName | uppercase }}
      <img src="../../assets/images/SELogoGray.png" class="ml-5" alt="Logo" />
    </div>

    <div class="mr-2 bd-highlight">
      <a type="button" (click)="refreshPlan($event)">
        <i class="fa fa-refresh mx-3" aria-hidden="true"></i>
      </a>
      <a type="button" (click)="newOrder()">
        <i class="fa fa-plus mx-3" aria-hidden="true"></i>
      </a>
      <a type="button" (click)="logout()">
        <i class="fa fa-sign-out mx-3" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
